/build/
/config.mk
include/dlg/
src/dlg/dlg.c
subprojects/*
!subprojects/*.wrap
/tests/data/*

# Binaries
**/bin/
bin-int/
Intermediates/

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj